<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   {{>header}}
    <img class="potrait" src="/images/robot.png" alt="" srcset="">
    {{>footer}}
</body>

</html>